@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  --color-primary: hsl(257, 40%, 49%);
  --color-secondary: hsl(300, 69%, 71%);
  --color-text: hsl(0, 0%, 95%);

  --header-font: 'Poppins', sans-serif;
  --body-font: 'Open Sans', sans-serif;

  --h1-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.825rem;



}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--color-text);
  background-color: var(--color-primary);
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-family: var(--header-font);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* REUSABLE CSS CLASSES */
.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  margin: 2rem;
}

.header-logo {
  max-width: 8rem;
}

.home {
  position: relative;
}

.home-container {
  row-gap: 3rem;
  padding: 2rem;
}

.home-img {
  width: 300px;
  justify-self: center;
  margin-bottom: 3rem;
}

.home-data {
  text-align: center;
}

.home-title {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.home-paragraph {
  margin-bottom: 2.5rem;
}

.button {
  font-size: var(--small-font-size);
  color: var(--color-primary);
  background-color: var(--color-text);
  padding: .67rem 5rem;
  font-weight: 400;
  border: none;
  border-radius: 4rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button:hover {
  color: var(--color-text);
  background-color: var(--color-secondary);
}

.footer {
  position: relative;
}

.footer-container {
  row-gap: 3rem;
  padding: 3rem;
}

.footer-social,
.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.footer-social a {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-text);
  font-size: var(--small-font-size);
  width: 2rem;
  height: 2rem;
  margin: 0 .3rem 0 .3rem;
}

.footer-social a:hover {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  transform: scale(1.1);
}

.footer-attribution {
  text-align: center;
  font-size: .67rem;
}

.footer-attribution a {
  color: var(--color-secondary);
  cursor: pointer;
}

.footer-attribution a:hover {
  color: var(--color-text);
}